---
import type { BlogPost } from '@marmadilemanteater/dataservice/blog-posts'
import { If, Foreach } from '@marmadilemanteater/astro-logic-components'
import TagList from './tag-list.astro'
import type { Tag } from '@marmadilemanteater/dataservice/tags'
import { formatLongDate, formatShortDate } from '../helpers'
import Emoji from './emoji.astro'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {
  posts: BlogPost[],
  tags: Tag[],
  class: string
}

const { posts, tags, ...rest }: Props = Astro.props
---
<section 
  class=`blog-post-list ${Astro.props.class || ''}`
  {...rest}
>
  <slot name='top' />
  <Foreach
    list={posts}
  >
    {(post: BlogPost, i: number) => {
      const postTags = tags.filter(({name} : Tag) => post.tags.indexOf(name) !== -1)
      const date = new Date(post.gitDate)
      const shortDate = formatShortDate(date)
      const longDate = formatLongDate(date)
      return <article
        data-even={i % 2 === 0 ? 'true' : 'false'}
      >
        <If condition={postTags.length > 0} >
          <TagList tags={postTags} />
        </If>
        <h1><a href={`/blog/${post.id}`}><Emoji>{post.title}</Emoji></a></h1>
        <summary><Emoji>{post.shortDescription}</Emoji></summary>
        <p class='date-text'><em>Last updated: <time datetime={shortDate}>{longDate}</time></em></p>
      </article>
    }}
  </Foreach>
</section>
<style lang='less'>
  @import url(../variables.less);
  .blog-post-list {
    display: flex;
    flex-direction: column;
  }
  article {
    padding: 1em;
    background-color: @bg-light-2;
    @media (prefers-color-scheme: dark) {
      background-color: @bg-dark-2;
    }
  }
  article[data-even="true"] {
    background-color: @bg-light-1;
    @media (prefers-color-scheme: dark) {
      background-color: @bg-dark-1;
    }
  }
  article .tag-list {
    margin-bottom: 1em;
  }
  article h1 {
    font-size: 1.35em;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
  }
  article .date-text {
    margin-bottom: 0.5em;
    color: @date-text-light;
    @media (prefers-color-scheme: dark) {
      color: @date-text-dark;
    }
  }
</style>
