---
import { Foreach, If } from '@marmadilemanteater/astro-logic-components'
import type { Tag } from '@marmadilemanteater/dataservice/tags'
import type { HTMLAttributes } from 'astro/types'

// @ts-ignore
import jsLogo from '../../../../packages/static-data/public/images/logos/js-logo.png?format=webp&w=40&h=40'
// @ts-ignore
import csharpLogo from '../../../../packages/static-data/public/images/logos/csharp-logo.png?format=webp&w=40&h=40'
// @ts-ignore
import pythonLogo from '../../../../packages/static-data/public/images/logos/python-logo.png?format=webp&w=40&h=40'

const logos: Record<string, any> = {
  'javascript': jsLogo,
  'csharp': csharpLogo,
  'python': pythonLogo,
  'rust': '/images/logos/rust-logo-blk.svg'
}

interface Props extends HTMLAttributes<'p'> {
  tags: Tag[]
}

const langsWithImages = Object.keys(logos)

const { tags, ...rest }: Props = Astro.props
// put all images at the front of the tags
tags.sort((a, b) => langsWithImages.indexOf(b.name) - langsWithImages.indexOf(a.name))
---
<p
 class='tag-list'
 {...rest}
>
  <Foreach
    list={tags}
  >
    {(tag: Tag) => <>
      <If condition={langsWithImages.indexOf(tag.name) === -1}>
        <a class='tag' href={tag.link}>{tag.name}</a>
        <a slot='else' href={tag.link}><img src={logos[tag.name]} width='40' class={tag.name} /></a>
      </If>
    </>}
  </Foreach>
  <slot/>
</p>
<style lang='less' is:global>
  @import url('../variables.less');

  .tag-list {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
    gap: 0.75em;
    flex-wrap: wrap;
  }

  .tag-list .tag {
    display: inline-block;
    padding: 0.5em;
    border-radius: 10px; 
    height: 20px;
    background-color: @tag-light;
    color: black;
    @media (prefers-color-scheme: dark) {
      background-color: @tag-dark;
      color: white; 
    }
  }

  .tag-list a.emoji img {
  }

  .tag-list img.javascript,
  .tag-list img.csharp,
  .tag-list img.python
  .tag-list img.rust {
    margin-top: -10px;
    top: 10px;
    position: relative;
  }

  .tag-list img.rust {
    @media (prefers-color-scheme: dark) {
      filter: invert(100%);
    }
  }
  .tag-list a.hidden {
    display: none;
  }
</style>
